.minor-section {
    padding: 10px;
    margin-bottom: 10px;
    border: solid 1px #888;
    background-color: #DDD8C4;
  }

  html, body, #content {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #9ca089;
  }

  img {
    width: 500px;
  }