.minor-section {
    padding: 10px;
    margin-bottom: 10px;
    border: solid 1px #888;
    background-color: #DDD8C4;
}
    
html, body, #content {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #9ca089;
}

#convo {
    background-color: white;
    margin: 10px auto;
    padding: 0px;
    border-radius: 15px;
    border: solid 1px black;
    max-width: 450px;
    text-align: right;
    overflow: hidden;
  }
  
  #convo-header {
    text-align: center;
    margin-bottom: 10px;
    background-color: #f8f8f8;
    padding: 5px;
  }
  
  .convo-img img {
    border-radius: 50%;
    width: 50px;
  }
  
  .convo-name {
    font-size: 15px;
    color: #404040;
  }
  
  #convo button {
    margin: 10px;
    width: calc(100% - 20px);
  }
  
  #output {
    min-height: 400px;
    padding: 10px;
  }
  
  .text p {
    display: inline-block;
    max-width: 60%;
    margin: 3px;
    padding: 5px 10px;
    border-radius: 15px;
    background-color: darkgray;
    color: white;
    font-family: sans-serif;
    font-size: 0.8em;
    text-align: left;
  }
  
  .text:nth-child(odd) {
    text-align: left;
  }
  
  .text:nth-child(odd) p {
    background-color: rgb(233, 233, 233);
    color: black;
  }
  
  .text:nth-child(even) {
    text-align: right;
  }
  
  .text:nth-child(even) p {
    background-color: #0000ff;
    color: white;
  }
